<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/oOCrystalOo">Crystal</a>, a newbie web developer learning all sorts of things.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'crystal.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Crystal Ng</h2>
      <br />
      <p>
        Crystal is a web developer with 4 years of experience. She regularly uses Javascript, jQuery, PHP, HTML5, and CSS3. She is currently learning Ruby with Rails and how to build web applications. She is looking for opportunities to broaden her knowledge and gain more experiences.
      </p>
    </div>
  </div>
  
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>